<!DOCTYPE HTML>

<html>

<head>
	<title>KK Employee Management System</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon fa-gem"><img src="{{ url_for('static', filename='images/KK.png') }}" alt="KK's pic" style="width: 55px; height: 55px; margin-top: 20px;" /></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>Employee Management System</h1> <br>
					<p>An employee management system that allows to house all of important employee data, documents and checklists.</p><br />
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#add">Add</a></li>
					<li><a href="#search">Search</a></li>
					<li><a href="#update1">Update</a></li>
					<li><a href="#delete">Delete</a></li>
					<li><a href="/attendance">Attendance</a></li>
					<li><a href="#payroll">Payroll</a></li>
					<li><a href="/about">Portfolio</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Add -->
			<article id="add">
				<h2 class="major">ADD Employee</h2>
				<form action="/addemp" autocomplete="on" method="POST" enctype="multipart/form-data">
					<div class="fields">
						<div class="field">
							<label for="id">Employee ID</label>
							<input type="number" name="emp_id" id="emp_id" />
						</div>
						<div class="field half">
							<label for="first_name">First Name</label>
							<input type="text" name="first_name" id="first_name" />
						</div>
						<div class="field half">
							<label for="last_name">Last Name</label>
							<input type="text" name="last_name" id="last_name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field half">
							<label for="contact">Contact</label>
							<input type="tel" name="contact" id="contact" pattern="^01\d-\d{7,8}$" />
						</div>
						<div class="field half">
							<label for="location">Location</label>
							<input type="text" name="location" id="location" />
						</div>
						<div class="field half">
							<label for="position">Position</label>
							<input type="text" name="position" id="position" />
						</div>
						<div class="field half">
							<label for="pri_skill">Primary Skills</label>
							<input type="text" name="pri_skill" id="pri_skill" />
						</div>
						<div class="field half">
							<label for="hire_date">Hire Date</label>
							<input type="date" name="hire_date" id="hire_date" />
						</div>
						<div class="field half">
							<label for="payscale">Payscale</label>
							<input type="number" name="payscale" id="payscale" />
						</div>
						<div class="field">
							<label for="image">Image</label>
							<input type="file" name="emp_img_file" id="emp_img_file" />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Submit" class="primary" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</form>
			</article>

			<!-- Search -->
			<article id="search">
				<h2 class="major">SEARCH Employee</h2>
				<form action="/fetchdata" autocomplete="on" method="POST">
					<div class="fields">
						<div class="field">
							<label for="id">Employee ID</label>
							<input type="number" name="emp_id" id="emp_id" />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Submit" class="primary" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</form>
			</article>

			<!-- Update1 -->
			<article id="update1">
				<h2 class="major">UPDATE Employee</h2>
				<form action="/updateemp" autocomplete="on" method="POST">
					<div class="fields">
						<div class="field">
							<label for="id">Employee ID</label>
							<input type="number" name="emp_id" id="emp_id" />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Submit" class="primary" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</form>
			</article>

			<!-- Delete -->
			<article id="delete">
				<h2 class="major">DELETE Employee</h2>
				<form action="/deleteemp" autocomplete="on" method="POST">
					<div class="fields">
						<div class="field">
							<label for="id">Employee ID</label>
							<input type="number" name="emp_id" id="emp_id" />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Submit" class="primary" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</form>
			</article>

			<!-- Payroll -->
			<article id="payroll">
				<h2 class="major">SEARCH Employee Payroll</h2>
				<form action="/payroll" autocomplete="on" method="POST">
					<div class="fields">
						<div class="field">
							<label for="id">Employee ID</label>
							<input type="number" name="emp_id" id="emp_id" />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Submit" class="primary" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</form>
			</article>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; KK Employee Management System</p>
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script src="{{ url_for('static', filename='js/breakpoints.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/browser.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	<script src="{{ url_for('static', filename='js/util.js')}}"></script>
</body>

</html>
