<!DOCTYPE HTML>

<html>

<head>
	<title>KK Employee Management System</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Main -->
		<div id="main">
			<section id="outputSearch">
				<h1>Employee Payroll</h1> <br>
				<form style="text-align:center" action="/" autocomplete="on" method="GET">
					<div class="fields">
						<div class="field half">
							<label for="emp_id">Employee ID</label>
							<p style="border: 1px solid white; padding: 5px;">{{ emp_id }}</p>
						</div>
						<div class="field half">
							<label for="emp_name">Name</label>
							<p style="border: 1px solid white; padding: 5px;">{{ name }}</p>
						</div>

						<div class="field half">
							<label for="email">Email</label>
							<p style="border: 1px solid white; padding: 5px;">{{ email }}</p>
						</div>

						<div class="field half">
							<label for="contact">Contact</label>
							<p style="border: 1px solid white; padding: 5px;">{{ contact }}</p>
						</div>

						<div class="field half">
							<label for="position">Position</label>
							<p style="border: 1px solid white; padding: 5px;">{{ position }}</p>
						</div>

						<div class="field half">
							<label for="payscale"> Payscale</label>
							<p style="border: 1px solid white; padding: 5px;">{{ payscale }}</p>
						</div>

						<div class="field half">
							<label for="total_duration">Hours Worked</label>
							<p style="border: 1px solid white; padding: 5px;">{{ duration }}</p>
						</div>

						<div class="field half" style="text-align: center;">
							<label for="salary"> Salary</label>
							<p style="border: 1px solid white; padding: 5px;">RM {{ salary }}</p>
						</div>
					</div>
					<ul class="actions" style=" justify-content: center;">
						<li><button type="submit" formaction="/">BACK</button></li>
					</ul>
				</form>
			</section>
		</div>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	<script src="{{ url_for('static', filename='js/util.js')}}"></script>
</body>

</html>
