<!DOCTYPE HTML>

<html>

<head>
    <title>KK Employee Management System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <section>
                <h2>Jie Kee's Profile</h2>
                <div>
                    <img src="{{ url_for('static', filename='images/jiekee_rmv.png') }}" alt="jiekee's pic" class="center" style="margin-left: 35%;" />
                    <br>
                    <p style="text-align: justify;">With my experience in utilizing AWS Academy, I have developed
                        proficiency in managing diverse solutions. My interest in exploring cutting-edge technology has
                        led me to specialize in crafting and deploying AWS-driven systems, which enhance business growth
                        and augment performance. I am continuously updated with emerging cloud computing trends to
                        ensure I surpass expectations in delivering top-notch services.</p>
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>Khoo Jie Kee</td>
                        </tr>
                        <tr>
                            <td>Date of Birth:</td>
                            <td>16 April 2002</td>
                        </tr>
                        <tr>
                            <td>Skills:</td>
                            <td>
                                <li>Programming</li>
                                <li>Amazon Web Service(AWS)</li>
                                <li>Data Analysis</li>
                            </td>
                        </tr>
                        <tr>
                            <td>Languages:</td>
                            <td>
                                <li>Chinese</li>
                                <li>English</li>
                                <li>Malay</li>
                            </td>
                        </tr>
                        <tr>
                            <td>Good at:</td>
                            <td>
                                <li>Time Management</li>
                                <li>Probelm Solving</li>
                                <li>Collaboration</li>
                            </td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>khoojk-wp20@student.tarc.edu.my</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>011-10748752</td>
                        </tr>
                    </table>
                    
                </div>
                <form action="/" autocomplete="on" method="GET">

                    <ul class="actions" style=" justify-content: center;">
                        <li><button type="submit" formaction="/">BACK</button><br><br></li>
                    </ul>

                </form>
            </section>

        </div>
    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/util.js')}}"></script>

</body>

</html>
