<!DOCTYPE HTML>

<html>

<head>
    <title>KK Employee Management System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <section>
                <h2>Kang Ee's Profile</h2>
                <div>
                    <img src="{{ url_for('static', filename='images/kangee_rmv.png') }}" alt="kangee's pic" class="center" style="margin-left: 35%;" />
                    <br>
                    <p style="text-align: justify;">As a seasoned employee of the company, I have gained significant
                        expertise and proficiency in using AWS Academy to design and administer a diverse range of
                        solutions. My fervor for cutting-edge technology is reflected in my specialization in creating
                        and executing AWS-based systems that catalyze business expansion and augment efficiency.</p>
                    <p>I am dedicated to keeping myself well-versed with the most recent developments in cloud computing
                        and utilizing them to surpass the set benchmarks.</p>
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>Koo Kang Ee</td>
                        </tr>
                        <tr>
                            <td>Date of Birth:</td>
                            <td>17 August 2002</td>
                        </tr>
                        <tr>
                            <td>Skills:</td>
                            <td>
                                <li>SQL</li>
                                <li>Python</li>
                                <li>C++</li>
                            </td>
                        </tr>
                        <tr>
                            <td>Languages:</td>
                            <td>
                                <li>Chinese</li>
                                <li>English</li>
                                <li>Malay</li>
                            </td>
                        </tr>
                        <tr>
                            <td>Good at:</td>
                            <td>
                                <li>Time Management</li>
                                <li>Probelm Solving</li>
                                <li>Collaboration</li>
                            </td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>kooke-wp20@student.tarc.edu.my</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>011-10682675</td>
                        </tr>
                    </table>
                </div>
                <form action="/" autocomplete="on" method="GET">

                    <ul class="actions" style=" justify-content: center;">
                        <li><button type="submit" formaction="/">BACK</button><br><br></li>
                    </ul>

                </form>
            </section>

        </div>
    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/util.js')}}"></script>

</body>

</html>
